arrow==0.8.0
blessed==1.14.1
boto==2.45.0
brotlipy==0.6.0
cffi==1.9.1
Django==1.10
django-appconf==1.0.2
django-bootstrap3==7.0.1
django-picklefield==0.3.2
django-q==0.7.18
django-storages==1.5.1
django-user-accounts==2.0.0
enum34==1.1.6
future==0.15.2
hashids==1.1.0
Pillow==3.4.2
psycopg2==2.6.2
pycparser==2.17
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
six==1.10.0
wcwidth==0.1.7
whitenoise==3.2.2
