{% extends "site_base.html" %}
{% load static from staticfiles %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Account Login" %}{% endblock %}
{% block static %}
		<!-- PAGE LEVEL SCRIPTS -->
		<link href="{% static "css/header-1.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/color_scheme/green.css" %}" rel="stylesheet" type="text/css" id="color_scheme" />
		<link href="{% static "css/essentials.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/sky-forms.css" %}" rel="stylesheet" type="text/css"  />
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}
{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

            <form id="login_form" class="margin-top-30 sky-form boxed" method="POST" action="{% url "account_login" %}"
                    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}

                <header>{% trans "Log In" %}</header>

                <div class="box-static box-transparent box-bordered padding-30">

                    <!-- ALERT -->
                    {% if form.errors %}
                    <div class="alert alert-mini alert-danger margin-bottom-30">
                        {{ form.non_field_errors }}
                        {{ form.username.errors }}
                    </div><!-- /ALERT -->
                    {% endif %}

                    <fieldset>

                    <div class="row"> <!-- username -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.username.label }}</label>
                                <label class="input margin-bottom-10" id="id_username">
                                    <i class="ico-append fa fa-user"></i>
                                    {{ form.username }}
                                    <b class="tooltip tooltip-bottom-right">Your user name which may be different than
                                        your email address.</b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label for="register:pass1">{{ form.password.label }}</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password }}
                                    <b class="tooltip tooltip-bottom-right">Mininimum 8 charachters; include 1 upper
                                        case letter and one number.</b>
                                </label>
                            </div>
                        </div>
                    </div>

                    </fieldset>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-bordered">{% trans "Log In" %}</button>
                    <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>

                </div>
            </form>

            {% if ACCOUNT_OPEN_SIGNUP %}
                <p class="login-signup">
                    <small>
                        {% trans "Don't have an account?" %}  <strong><a href="{% urlnext 'account_signup' %}">{% trans "Sign up" %}</a></strong>
                    </small>
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
</>

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
