{% load avatar_tags %}

<div class="panel panel-default">
    <div class="panel-heading">Most Active Members</div>
    {% if most_active_members %}
        <table class="table table-striped">
            {% for member_count in most_active_members %}
                <tr>
                    <td>
                        <h4 class="media-heading">
                            {% avatar member_count.user.username 50 class="img-circle" %}
                            <a href="">{{ member_count.user.username}}</a>
                        </h4>
                    </td>
                    <td class="text-right">{{ member_count.count }} Post{{ member_count.count|pluralize }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            There are no active members.
        </div>
    {% endif %}
</div>