{% extends "pinax/forums/base.html" %}

{% block body_container %}

    {% include "pinax/forums/_thread_breadcrumbs.html" with thread=post.thread %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Edit post</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="avatar.png" />
                </div>
                <div class="col-md-10">
                    <form method="POST" class="form" action="{% url "pinax_forums:post_edit" post.kind post.pk %}">
                        {% csrf_token %}
                        <fieldset>
                            {{ form }}
                        </fieldset>
                        <div class="form-actions pull-right">
                            <a href="{% url "pinax_forums:thread" post.thread.pk %}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}