{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% load household_extras %}

{% block title %}{% trans "Household Members" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <div class="margin-top-30 margin-bottom-30 box-static box-bordered box-white">

            <h2>{% trans "Household Members" %}</h2>

            <div class="row">

                <!-- tabs -->
                <div class="col-md-2 col-sm-2 nopadding">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="active"><a href="#invite_members" data-toggle="tab">Invite</a></li>
                        <li><a href="#pending_members" data-toggle="tab">Pending Invites</a></li>
                        <li><a href="#current_members" data-toggle="tab">Current Members</a></li>
                    </ul>
                </div>

                <!-- tabs content -->
                <div class="col-md-10 col-sm-10 nopadding"><div class="tab-content tab-stacked">

                    <div id="invite_members" class="tab-pane active">
                        <h3>Invite Member</h3>
                        <form id="vehicle_form" class="margin-top-30 sky-form boxed centered" method="POST"
                            action="{% url url %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                            {% csrf_token %}
                            <div class="box-static box-transparent box-bordered">
                                <!-- ALERTS -->
                                {% if messages %}
                                    {% for msg in messages %}
                                        <div class="alert alert-{{msg.level_tag}} margin-bottom-30" role="alert">
                                            {{msg.message}}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if invite_form.email.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in invite_form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- /ALERTS -->
                                <fieldset>
                                    <div class="row"><div class="col-md-6 col-sm-6">
                                        <label class="input margin-bottom-10">
                                            {{ invite_form.email }}
                                            <b class="tooltip tooltip-bottom-right">{{ invite_form.email.help_text }}</b>
                                        </label>

                                    </div></div>
                                    <div class="row"><div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-bordered pull-right">
                                            <i class="fa fa-check"></i>{% trans "Send invite" %}</button>
                                    </div></div>
                                </fieldset>
                            </div>
                        </form>
                    </div>

                    <div id="pending_members" class="tab-pane">
                        <h3>Pending Invites</h3>
                        <div id='divPendingMessage' class="alert margin-bottom-30 hide" role="alert">
                            <label id="lblPendingMessage"></label>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-hover">
                            {% for invite in pending %}
                                {% if forloop.counter == 1 %}
                                    <thead class="bg-white">
                                        <tr>
                                            {% for key, value in invite.iteritems %}
                                                {% if key != 'id' %}
                                                    <th>{{ key|get_heading }}</th>
                                                {% endif %}
                                            {% endfor %}
                                            <th></th>
                                        </tr>
                                    </thead>
                                {% endif %}
                            <tbody class="bg-white">
                                {% with count=forloop.counter %}
                                <tr id="row-{{ count }}">
                                    {% for key, value in invite.iteritems %}
                                        {% if key != 'id' %}
                                            <td id="{{ key }}-{{ count }}">{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <button name="delete-{{ count }}" type="button" class="btn btn-primary btn-xs"
                                            onclick="deleteInvite({{ count }}, {{ invite.id }}, '{{ username }}');">
                                            Delete</button>
                                    </td>
                                </tr>
                                {% endwith %}
                            </tbody>
                            {% endfor %}
                        </table>
                        </div>
                    </div>

                    <div id="current_members" class="tab-pane">
                        <h3>Current Members</h3>
                        <div id='divCurrentMessage' class="alert margin-bottom-30 hide" role="alert">
                            <label id="lblCurrentMessage"></label>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-hover">
                            {% for member in current %}
                                {% if forloop.counter == 1 %}
                                <thead class="bg-white">
                                    <tr>
                                        {% for key, value in member.iteritems %}
                                            {% if key != 'is_active' %}
                                                <th>{{ key|get_heading }}</th>
                                            {% endif %}
                                        {% endfor %}
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                {% endif %}
                                <tbody class="bg-white">
                                {% with count=forloop.counter %}
                                <tr>
                                    {% for key, value in member.iteritems %}
                                        {% if key != 'is_active' %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        {% if member.username == username %}
                                            Owner
                                        {% else %}
                                            <button id="changeStatus-{{ count }}" type="button"
                                                class="btn btn-primary btn-xs"
                                                value="{% if member.is_active %}Deactivate{% else %}Activate{% endif %}"
                                                onclick="changeMemberStatus({{ count }}, '{{ member.username }}',
                                                        '{{ username }}');">
                                                {% if member.is_active %}Deactivate{% else %}Activate{% endif %}
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endwith %}
                                </tbody>
                            {% endfor %}
                        </table>
                        </div>
                    </div>

                </div></div>

            </div>

        </div>

    </div>

{% endblock %}
{% block scripts %}

    <script>

        function deleteInvite(row, id, user) {

            var fn = 'Pending';
            var successMessage = 'Pending invite successfully removed.';
            var errorMessage = 'Unable to process request; please try again. If this error persists, contact Support ' +
                'for assistance.';

            $(document).ready(function () {

                $.ajaxSetup({beforeSend: function(xhr, settings){
                    xhr.setRequestHeader('X-CSRFToken',
                         '{{ csrf_token }}');
                }});

                var request = $.ajax({
                    url: '/household/ajax/delete-invite/',
                    method: "POST",
                    data: { 'id' : id, 'user' : user  },
                    dataType: "json"
                });

                request.done(function( result ) {
                    if (result.status == 'OK') {
                        $('#row-' + row).remove();
                        showMessage(result.status, successMessage, fn);
                    } else {
                        showMessage(result.status, errorMessage, fn);
                    }
                });

                request.fail(function( jqXHR, textStatus ) {
                    showMessage(textStatus, errorMessage, fn);
                });

            });
        }

        function changeMemberStatus(row, username, user) {

            var fn = 'Current';
            var successMessage = 'Household member status successfully changed.';
            var errorMessage = 'Unable to process request; please try again. If this error persists, contact Support ' +
                'for assistance.';
            var $button = $('#changeStatus-'+row);
            var newStatus, newButtonValue;

            newStatus = $button.attr("value");
            if (newStatus == 'Deactivate') {
                newButtonValue = 'Activate';
            } else {
                newButtonValue = 'Deactivate';
            }

            $(document).ready(function () {

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken',
                            '{{ csrf_token }}');
                    }
                });

                var request = $.ajax({
                    url: '/household/ajax/change-member-status/',
                    method: "POST",
                    data: { 'username' : username, 'user' : user, 'status' : newStatus },
                    dataType: "json"
                });

                request.done(function( result ) {
                    if (result.status == 'OK') {
                        $button.attr("value", newButtonValue);
                        $button.text(newButtonValue);
                        showMessage(result.status, successMessage, fn);
                    } else {
                        showMessage(result.status, errorMessage, fn);
                    }
                });

                request.fail(function( jqXHR, textStatus ) {
                    showMessage(textStatus, errorMessage, fn);
                });

            });
        }


        function showMessage(type, msg, fn) {

            var classAdd, classRemove;
            var lbl = '#lbl'+fn+'Message';
            var div = '#div'+fn+'Message';

            if (type == 'OK') {
                classAdd = 'alert-success';
                classRemove = 'alert-warning';
            } else {
                classAdd = 'alert-warning';
                classRemove = 'alert-success';
            }

            $(lbl).html(msg);
            $(div).removeClass(classRemove).addClass(classAdd).addClass('show');
        }

    </script>

    <script type="text/javascript">var plugin_path = "/static/plugins/";</script>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>


{% endblock %}