{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% load household_extras %}

{% block title %}{% trans "My Account + Household" %}{% endblock %}
{% block static %}
    <!-- PAGE LEVEL SCRIPTS -->
    <link href="{% static "css/header-1.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/color_scheme/green.css" %}" rel="stylesheet" type="text/css" id="color_scheme" />
    <link href="{% static "css/essentials.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <form id="simple_form" class="margin-top-30 sky-form boxed centered" method="POST"
              action="{% url url %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            <div class="box-static box-transparent box-bordered">

                <h2><i class="fa fa-users">&nbsp;&nbsp;{% trans page_title %}</i></h2>

                {% if instructions %}
                <div class="alert alert-theme-color"><!-- THEME COLOR --></span>
                    <strong>{{ instructions }}</strong>
                </div>
                {% endif %}

                <!-- ALERTS -->
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.level_tag}} margin-bottom-30" role="alert">
                            {{msg.message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- /ALERTS -->

                <fieldset>
                    {% for field in form.visible_fields %}
                        {% if layout|get_index:forloop.counter == 'b' or layout|get_index:forloop.counter == '-' %}
                            <div class="row">
                            <div class="form-group">
                        {% endif %}
                        <div class="col-md-6 col-sm-6">
                            <label>{{ field.label }}</label>
                            {% if field.field.widget|get_widget_class == "CheckboxInput" %}
                                <label class="switch switch-primary switch-round">
                                    {{ field }}
                                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                                </label>
                            {% else %}
                                <label class="input margin-bottom-10">
                                    {{ field }}
                                    <b class="tooltip tooltip-bottom-right">{{ field.help_text }}</b>
                                </label>
                            {% endif %}
                            {% if field.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% if not layout|get_index:forloop.counter == 'b' %}
                            </div>
                            </div>
                        {% endif %}
                        {% if layout|get_index:forloop.counter == 'd' %}
                            <div class="divider divider-dotted"><!-- divider --></div>
                        {% endif %}

                    {% endfor %}

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-bordered  pull-right"><i class="fa fa-check"></i>
                                {% trans "Save" %}</button>
                        </div>
                    </div>
                    {% if password_link == True %}
                        <a href="{% url "account_password" %}">Change my password</a>
                    {% endif %}
                </fieldset>

            </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}