{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% load household_extras %}

{% block title %}{% trans "Household Vehicles" %}{% endblock %}

{% block static %}
    <!-- PAGE LEVEL SCRIPTS -->

    <link href="{% static "css/header-1.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/color_scheme/green.css" %}" rel="stylesheet" type="text/css" id="color_scheme" />
    <link href="{% static "css/essentials.css" %}" rel="stylesheet" type="text/css" />

    <script>

    </script>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <form id="vehicle_form" class="margin-top-30 sky-form boxed centered" method="post"
              action="{% url url %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            <div class="box-static box-transparent box-bordered">

                <h2>{% trans "Vehicles" %}</h2>

                {{ formset.management_form }}

                {% if instructions %}
                <div class="alert alert-theme-color">
                    <strong>{{ instructions }}</strong>
                </div>
                {% endif %}

                <!-- ALERTS -->
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.level_tag}} margin-bottom-30" role="alert">
                            {{msg.message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- /ALERTS -->

                <div class="row">

	                <!-- tabs -->
	                <div class="col-md-3 col-sm-3 nopadding">
		                <ul class="nav nav-tabs nav-stacked">
                            {% for form in formset %}
			                    <li {% if forloop.counter == 1 %}class="active"{% endif %}>
                                    <a href="#tab_{{ forloop.counter }}" data-toggle="tab">
                                        Vehicle {{ forloop.counter }}</a></li>
                            {% endfor %}
                        </ul>
	                </div>

	                <!-- tabs content -->
                    <div class="col-md-9 col-sm-9 nopadding"><div class="tab-content tab-stacked">
                        {% for form in formset %}
                            <div id="tab_{{ forloop.counter }}" class="tab-pane{% if forloop.counter == 1 %} active{% endif %}">
                                <fieldset>
                                    {% for field in form %}
                                        {% if layout|get_index:forloop.counter == 'b' or layout|get_index:forloop.counter == '-' %}
                                            <div class="row"><div class="form-group">
                                        {% endif %}
                                        <div class="col-md-6 col-sm-6">  <!-- Paint field -->
                                            {% if not field.field.widget|get_widget_class == "HiddenInput" %}
                                                <label>{{ field.label }}</label>
                                            {% endif %}
                                            {% if field.field.widget|get_widget_class == "CheckboxInput" %}
                                                <label class="switch switch-primary switch-round">
                                                    {{ field }}
                                                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                </label>
                                            {% else %}
                                                <label class="input margin-bottom-10">
                                                    {{ field }}
                                                    <b class="tooltip tooltip-bottom-right">{{ field.help_text }}</b>
                                                </label>
                                            {% endif %}
                                            {% if field.errors %}
                                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                                    {% for error in field.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if not layout|get_index:forloop.counter == 'b' %}
                                            </div></div>
                                        {% endif %}
                                        {% if layout|get_index:forloop.counter == 'd' %}
                                            <div class="divider divider-dotted"><!-- divider --></div>
                                        {% endif %}
                                    {% endfor %}
                                </fieldset>
                            </div>
                        {% endfor %}
                    </div></div>
                    <!-- end tabs content -->

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-bordered pull-right">
                            <i class="fa fa-check"></i>{% trans "Save" %}</button>
                    </div>
                </div>

            </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}

    <!-- PRELOADER -->
    <!-- /PRELOADER -->

    <script>

        function FilterMakes(event) {

            $(document).ready(function() {

                var makeKey = 0;

                // Using type field that signaled event, construct name to corresponding make field
                var choice_type = event.target.id;
                var choice_make = choice_type.substring(0, choice_type.lastIndexOf('-')+1)+'make';
                var choice_model = choice_type.substring(0, choice_make.lastIndexOf('-')+1)+'model_name';

                var type_id = $('#'+choice_type).val();

                if (type_id > 0) {

                    $.ajax({url: '/household/ajax/makes-by-type/' + type_id + '/', success: function(result){

                        var newOptions = sortOptions(JSON.parse(result));

                        var $el = $('#'+choice_make);
                        $el.empty(); // remove old options

                        $el.append($("<option></option>").attr("value", '').text('---------'));

                        for (i = 0; i < newOptions.length; i++) {
                            var option = newOptions[i];
                            for (key in option) {
                                $el.append($("<option></option>").attr("value", key).text(option[key]));
                            }
                        }

                        $el.val('');

                    }});

                    var $el = $('#'+choice_model);
                    $el.empty(); // remove old options
                    $el.append($("<option></option>").attr("value", '').text('---------'));

                }

            });

        }

        function FilterModels(event) {

                var choice_make = event.target.id;
                var choice_model = choice_make.substring(0, choice_make.lastIndexOf('-')+1)+'model_name';

                var make_id = $('#'+choice_make).val();

                if (make_id > 0) {
                    $.ajax({url: '/household/ajax/models-by-make/' + make_id + '/', success: function(result){

                        var newOptions = sortOptions(JSON.parse(result));

                        var $el = $('#'+choice_model);
                        $el.empty(); // remove old options

                        $el.append($("<option></option>").attr("value", '').text('---------'));

                        for (i = 0; i < newOptions.length; i++) {
                            var option = newOptions[i];
                            for (key in option) {
                                $el.append($("<option></option>").attr("value", key).text(option[key]));
                            }
                        }

                        $el.val('');

                    }});
    	        }

        }

        function sortOptions(options){

            var keys = [];
            var datas = {};

            $.each(options, function(key, value){
                keys.push(value);
                datas[value] = key;
            });

            var aa = keys.sort();
            var sorted = [];

            $.each(aa, function(index, value){
                var item = {};
                item[datas[value]] = value;
                sorted.push(item);
            });

            return sorted;
        }

    </script>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = "/static/plugins/";</script>
    <script type="text/javascript" src="{% static "/js/scripts.js" %}"></script>

{% endblock %}