{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "About Us" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "About Us" %}</h2>

                <p>Hi, my name is Amber.</p>

                <p>Dandelion Diary is the crazy brain child of me, a woman with a
                    professional background in Information Technology, a passion for software development and home
                    design, and a new found love for recreational vehicles.</p>
                <p>Yes, my husband Scot and our beloved fur-child Barney, are new to RV'ing--having bought our first RV
                    in May of 2015--and we are 'all in'. Over the course of just three months, we sold or donated almost
                    everything we own to establish ourselves as full-time RV'ers. In the short period since then,
                    we have discovered the friendliness of the RV
                    community, the willing spirit to help, a different pace of life, and the ability to move about and
                    experience new places. While much in our lives has changed, we have kept
                    our almost fanatical obsession with tracking expenses and keeping costs down by
                    seeking out where to get the best deal or service, or bit of know-how for anything associated with
                    RV'ing.</p>
                <p>I used to track our expenses using Microsoft Excel. We would save receipts and
                    then I would sit down and enter them all at the end of the month. Doing this, we had a record of
                    what we were spending. But since I didn't want to have to manually categorize everything, lots of
                    things got lumped--giving us an accurate but imprecise view of expenses.</p>
                <p>Since developing Dandelion
                    Diary, I have stopped doing that. Now, I enter receipts as I make purchases and Scot
                    does the same! It's fast, easy, and now we both have more accurate tracking along with really
                    helpful charts and immediate feedback of how well we're doing.</p>
                <p>My hope is that others will use Dandelion Diary too and, between the magic that can be done with
                    software (I have so many more features and ideas of things I want to do), and the magic of people
                    helping other people through experience and expertise, we can create an amazing online community
                    that supports the dreams and treks of you and me.</p>
                <p>Yours truly,</p>
                Amber, Scot, and Barney, too.
            </div>
    </div>

{% endblock %}
{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
