{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Learn About Capture" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "More About Capture" %}</h2>

                <blockquote class="reverse">
                    <p>Dandelion Diary takes the work out of expense management, leaving you with more free
                        time to do the things you enjoy.</p></blockquote>

                <p>Easily capture your expenses as they happen with instantaneous budget feedback. Need a record of your
                    purchase? Take a picture and attach a receipt. Review, search and add notes to any expense at any
                    time.</p>

                <table>
                    <tr>
                        <td>
                            <img class="center-block" src="{% static "images/screenshots/screenshot-capture.png" %}"
                                 height="300px" alt="Capture new expense">
                        </td>
                        <td>
                            <img class="center-block" src="{% static "images/screenshots/screenshot-capture-explore.png" %}"
                                 height="300px" alt="Explore Expenses">
                        </td>
                    </tr>
                </table>

                <p>Features include:</p>
                <ul>
                    <li>Automatic expense filtering of categories based on prior captures, and geo-location information.</li>
                    <li>Immediate feedback on how much remains in your budget.</li>
                    <li>Ability to have every person (13 years of age or older) in your household track
                        expenses&#8212;no additional subscription fees.</li>
                    <li>Digitally capture receipts&#8212;no more paper clutter or filing.</li>
                    <li>Make free-form notations for easy expense searching and filtering.</li>
                </ul>

                <p>There's much more to come. Dandelion Diary is currently in <a href="{% url "public:faq"%}#beta">beta</a>.
                    Sign up and receive our newsletter of upcoming features.</p>

                <div class="callout alert alert-success margin-top-60 margin-bottom-60">

	                <div class="row">

		                <div class="col-md-8 col-sm-8"><!-- left text -->
                            <p>Say goodbye to budgetary guess work and the need to save wadded up, hard to read
                                receipts.</p>
		                </div><!-- /left text -->
		                <div class="col-md-4 col-sm-4 text-right"><!-- right btn -->
			                <a href="{% url "account_signup" %}" rel="nofollow" target="_blank"
                               class="btn btn-success btn-lg">START MY <strong>FREE</strong> TRIAL</a>
		                </div><!-- /right btn -->

	                </div>

                </div>

                <p>Learn more about <a href="{% url "public:compare" %}">Compare</a> or
                    <a href="{% url "public:contribute" %}">Contribute</a>.</p>

            </div>
    </div>

{% endblock %}
{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
