{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Community Code of Conduct" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "Community Code of Conduct" %}</h2>

                <blockquote class="reverse">
                    <p>Everyone is welcome. Welcome everyone.</p></blockquote>

                <p>We want you and everyone that joins Dandelion Diary to feel welcome and have positive
                    experiences while
                    using Dandelion Diary and interacting with fellow users. To that end, we have created the
                following dos and don'ts so that all feel part of an inviting, great community.</p>
                <h4>Member Responsibilities</h4>
                <p>All users of Dandelion Diary must be 13 year or older.</p>
                <p>As a user of this service, you will uphold this code of conduct, and you acknowledge you are
                    responsible for all your activities on the site and all content you post or upload.</p>
                <p>With respect to this service, you are responsible for upholding all applicable local, state, and
                national laws.</p>
                <h4>Please Don't</h4>
                <p>Do <strong>not</strong> post or upload content that:</p>
                <ul>
                    <li>Incites, advocates or expresses pornography, obscenity, vulgarity, profanity, hatred, bigotry,
                        racism, or gratuitous violence.</li>
                    <li>Provides or creates links to external sites that violate this code of conduct.</li>
                    <li>Threatens, stalks, defames, defrauds, degrades, victimizes or intimidates an individual or
                        group of individuals for any reason; including on the basis of age, gender, disability,
                        ethnicity, sexual orientation, or race.</li>
                    <li>Contains or could be considered 'junk mail', 'spam', 'chain letters', 'pyramid schemes',
                        'affiliate marketing', or unsolicited commercial advertisement.</li>
                </ul>
                <h4>Please Do</h4>
                <p>Do post or upload content that shares or shows your:</p>
                <ul>
                    <li>Viewpoint, experience, opinion, or assessment of a service or product you purchased or have
                        used.</li>
                    <li>Know-how, expertise, or ingenuity that gives insight or instruction to othere on how to fix
                        stuff.</li>
                    <li>Respect for other community members.</li>
                </ul>
                <p>Dandelion Diary is not responsible for the content of any user-created posting, listing or
                        message. The decision to view content or engage with others is yours.</p>
                <p>If you see content that violates this code of conduct, please report it for review.</p>
                <p>Dandelion Diary reserves the right to remove content which it deems violates this policy without
                        notice.</p>
                <p>Dandelion Diary reserves the right to amend or change the code of conduct at
                        any time without notice. Please periodically review these dos and don'ts to ensure
                        you are in alignment with them.</p>

            </div>
    </div>

{% endblock %}
{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "plugins/";</script>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>

{% endblock %}
