{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Learn About Compare" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "More About Compare" %}</h2>
                <blockquote class="reverse">
                    <p>Why waste valuable time with spreadsheets and calculators when you can have an instant snapshot
                        of your budget and spending with the click of a mouse!</p></blockquote>

                <p>Graphs and charts help you instantly see how you're tracking to your current budget and enable you to
                        easily gain insight into changes over time.</p>

                <table>
                    <tr>
                        <td>
                            <img class="center-block" src="{% static "images/screenshots/screenshot-compare-groups.png" %}"
                                 height="300px" alt="Compare budget groups">
                        </td>
                        <td>
                            <img class="center-block" src="{% static "images/screenshots/screenshot-compare-dashboard.png" %}"
                                 height="300px" alt="Compare dashboard">
                        </td>
                    </tr>
                </table>

                <p>Features include:</p>
                <ul>
                    <li>Automated budget template&#8212;just sign up and go!</li>
                    <li>Completely customizable to fit your spending patterns and needs.</li>
                    <li>Add, rather than change, budget information&#8212;ensures an accurate
                        view of current versus historical data.</li>
                    <li>Visualize your numbers with snapshots, trends, and patterns using easy to read
                        graphs and charts.</li>
                    <li>Obtain compelling insights and recommendations from Dandelion Diary.</li>
                    <li>See how you stack up to your peers (users with like household characteristics) through
                        comparative benchmarks.</li>
                </ul>

                <p>There's much more to come. Dandelion Diary is currently in <a href="{% url "public:faq"%}#beta">beta</a>.
                    Sign up and receive our newsletter of upcoming features.</p>

                <div class="callout alert alert-success margin-top-60 margin-bottom-60">

	                <div class="row">

		                <div class="col-md-8 col-sm-8"><!-- left text -->
                            <p>Get insights and compelling visuals into spending patterns.
                                See how you stack up to your peers.</p>
		                </div><!-- /left text -->
		                <div class="col-md-4 col-sm-4 text-right"><!-- right btn -->
			                <a href="{% url "account_signup" %}" rel="nofollow" target="_blank"
                               class="btn btn-success btn-lg">START MY <strong>FREE</strong> TRIAL</a>
		                </div><!-- /right btn -->

	                </div>

                </div>

                <p>Learn more about <a href="{% url "public:capture" %}">Capture</a> or
                    <a href="{% url "public:contribute" %}">Contribute</a>.</p>

            </div>
    </div>

{% endblock %}
{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
