{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Contact Us" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "Contact Us" %}</h2>

                <blockquote class="reverse"><p>We would love to hear from you!</p></blockquote>
                <h4>Issues + Suggested Enhancements</h4>
                <p>See something that needs to be fixed or improved? <strong>We want to know!</strong> Please use the form below to
                    submit your issue or suggestion.</p>
                <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
                <style type="text/css" media="screen, projection">
                    @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css);
                </style>
                <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://dandeliondiary.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no" scrolling="no" height="500px" width="100%" frameborder="0" ></iframe>
                <a name="direct_contact"></a>
                <h4>General Inquiries</h4>
                <p>Otherwise, you can also reach us directly here:<br><br>
                    Dandelion Diary<br>
                    P.O. Box 785<br>
                    Isleton, CA 95641<br><br>
                    thedandeliondiary@gmail.com<br>
                    415-413-4393
                </p>
            </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "plugins/";</script>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>

{% endblock %}
