{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">
                <a name="top"></a>
                <h2>{% trans "Frequently Asked Questions (FAQ)" %}</h2>

                <ol>

                    <li><a href="#trial-length">How long does my free trial last?</a></li>
                    <li><a href="#beta">What do you mean, Dandelion Diary is 'in beta'?</a></li>
                    <li><a href="#household">Why do I have to provide 'household' information?</a></li>
                    <li><a href="#benchmarks">Where do 'benchmarks' come from?</a></li>
                    <li><a href="#anonymous">Is my information shared with other Dandelion Diary users?</a></li>
                    <li><a href="#opt-out">Can I 'opt-out' of having my data shared anonymously in benchmarks?</a></li>

                </ol>
                <p>Have a question not answered here? <a href="{% url "public:contact" %}">Write us!</a></p>


                <a name="trial-length"></a>
                <h4>How long does my free trial last?</h4>
                <p>Presently, Dandelion Diary is operating in a <a href="#beta">'beta' status</a>. There isn't a set
                    date for when Dandelion Diary will exit beta; it's dependent on how quickly Dandelion Diary grows,
                    both in terms of membership and features. While Dandelion Diary remains in beta, you may use it
                    free of charge.</p>
                <p>However, once the beta period ends, all accounts will be transition to a 'free trial' period before
                requiring subscription payment. The free trial period will be at least 30 days.</p>

                <a name="beta"></a>
                <h4>What do you mean, Dandelion Diary is 'in beta'?</h4>
                <p>Dandelion Diary is a brand new product with many more features on the board waiting to be added.
                    Rather than waiting to try and build all the stuff we've dreamed of, we felt it was important to
                release Dandelion Diary to you as soon as possible. We want to collaborate with our membership to
                deliver what will add the most value based on YOUR input. </p>
                <p>Also, several key features cannot really be built until we have at least a small community of users.
                These folks will provide the foundation for both what we deliver and data to help provide the appropriate
                modeling. Dandelion Diary already has a lot to offer anyone who subscribes. But we acknowledge this is
                a special building period and so, that's why Dandelion Diary is 'in beta' and free of charge for our
                members during this period.</p>

                <a name="household"></a>
                <h4>Why do I have to provide 'household' information?</h4>
                <p>One of the main goals of Dandelion Diary is to enable people to help one another, particularly in
                finding ways to keep everyday expenses as low as possible.
                    A key strategy for enabling this is to have a means for evaluating expenditures across
                    all Dandelion Diary users and to do so on an 'apples to apples' basis.</p>
                <p>Expenses people enter are associated with their household. Households are evaluated against other
                    households that have like profiles, thus creating the 'apples to apples' comparison. People who are
                    part of a household that has fewer expenses than
                    peer households are encouraged to share their know-how (habits, tips, tricks, etc.) with the rest
                    of the community. And, conversely, people in households that have higher expenses than peer households
                are encouraged to checkout the advice posted by others.</p>

                <a name="benchmarks"></a>
                <h4>What are and where do 'benchmarks' come from?</h4>
                <p>Benchmarks are a form of measurement, a means for drawing comparisons generally between your data
                    and other Dandelion Diary users (housholds). Presently,
                our benchmarks are derived from evaluting Dandelion Diary subscriber data using mathematical algorythms.</p>

                <a name="anonymous"></a>
                <h4>Is my information shared with other Dandelion Diary users?</h4>
                <p>Yes, your information is shared with Dandelion Diary users in two ways:</p>
                <p><strong>1. You choose to share information via the forums.</strong></p>
                <p>You may be prompted to share information about your habits, tips, methods of saving money in the
                forum for other Dandelion Diary users to read, comment, and gain benefit from. This is completely
                voluntary.</p>
                <p>When you post to the forum, besides sharing information that may reveal personal details about
                yourself including, perhaps, how much you spend on certain items, where you shop, places you recommend,
                    you will be sharing your username and possibly an avatar.</p>
                <p><strong>2. Dandelion Diary shares your data anonymously.</strong></p>
                <p>For example, Dandelion Diary uses your data to create benchmarks. This means your household expense
                    information is combined with many (potentially hundreds) of households, and then provided to users
                in summarized form for comparison. It's worth noting your data may not be part of a benchmark
                    since there is a minimum number of similar household profiles (or characteristics of profiles)
                    needed to create a valid assessment.</p>

                <a name="opt-out"></a>
                <h4>Can I 'opt-out' of having my data shared anonymously in benchmarks?</h4>
                <p>In short, no. Evaluating and using Dandelion Diary subscriber data to the benefit of other
                    Dandelion Diary subscribers is core to our vision and how we can create value and a community.</p>
                <p>That said, if you feel uncomfortable with this
                    aspect of Dandelion Diary, we would like to
                    <a href="{% url "public:contact"%}#direct_contact">
                        hear</a> what you're thinking and your concerns.</p>
                <p>Have a question not answered here? <a href="{% url "public:contact" %}">Write us!</a></p>
                <a href="#top">Top of Page</a>

            </div>
    </div>

{% endblock %}
{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- JAVASCRIPT FILES -->
    <!-- Besides other things, this enables the 'shrink' effect of the logo area for all pages. -->
    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
