{% extends "site_base.html" %}
{% load staticfiles %}

{% block title %}Dandelion Diary{% endblock %}
{% block static %}

    <meta name="keywords" content="expense, tracking, budgeting, analysis, easy, immediate, rv" />
    <meta name="description" content="budget and expense reporting for everyone." />

    <!-- RS5.0 Main Stylesheet -->
    <link href="{% static "plugins/revolution/css/settings.css" %}" rel="stylesheet" type="text/css" >

    <!-- RS5.0 Layers and Navigation Styles -->
    <link href="{% static "plugins/revolution/css/layers.css" %}" rel="stylesheet" type="text/css" >
    <link href="{% static "plugins/revolution/css/navigation.css" %}" rel="stylesheet" type="text/css" >

    <!-- iubenda cookie script -->
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            cookiePolicyId: 8019428,
            siteId: 713550,
            lang: "en",
            priorConsent: false
        };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8"
            async></script>

{% endblock %}
{% block body_classes %}{% endblock %}

    {% block slidetop %}
    {% endblock %}

    {% block body_container %}

        <!-- REVOLUTION SLIDER -->
        <div class="slider fullwidthbanner-container roundedcorners margin-bottom-100">
            <div id="slider1" class="fullwidthbanner" data-height="500" data-shadow="3" data-navigationStyle="">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="parallaxhorizontal"
                        data-slotamount="default"
                        data-easein="default"
                        data-easeout="default"
                        data-masterspeed="default"
                        data-rotate="0"
                        data-fstransition="fade"
                        data-fsmasterspeed="1500"
                        data-fsslotamount="7"
                        data-saveperformance="off">

                        <img src="{% static "images/1x1.png" %}" data-lazyload="{% static "images/home/iphone_cafe_1200x800.png" %}" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <div class="tp-caption"
                             data-x="left"
                             data-y="0"
                             data-speed="750"
                             data-start="750"
                             data-endspeed="300">
                            <img src="{% static "images/1x1.png" %}" alt="" data-lazyload="{% static "images/caption_bg.png" %}">
                        </div>

                        <div class="tp-caption medium_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="75"
                             data-y="top" data-voffset="50"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-100%];opacity:0;s:2500"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="500">
                            You need real time expense tracking.
                        </div>

                        <div class="tp-caption small_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="70"
                             data-y="top" data-voffset=195"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-start="1500">
                            You spend hard earned money every day.<br /><br />
                            You need real time feedback on your spending goals.
                        </div>
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="papercut" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
                        <img src="{% static "images/1x1.png" %}" data-lazyload="{% static "images/home/travel1.jpg" %}" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <div class="tp-caption "
                             data-x="right"
                             data-y="0"
                             data-speed="750"
                             data-start="750"
                             data-endspeed="300">
                            <img src="{% static "images/1x1.png" %}" alt="" data-lazyload="{% static "images/caption_bg.png" %}">
                        </div>

                        <div class="tp-caption medium_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="810"
                             data-y="top" data-voffset="50"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-100%];opacity:0;s:2500"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="500">
                            Realize dreams. <br> Achieve goals.
                        </div>

                        <div class="tp-caption small_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="810"
                             data-y="top" data-voffset="195"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-100%];opacity:0;s:2500"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="1500">
                            We can help keep your spending focused.<br /><br />
                            And your aspirations become reality.
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="cube" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
                        <img src="{% static "images/1x1.png" %}" data-lazyload="{% static "images/home/travel3.jpg" %}" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <div class="tp-caption lft start"
                             data-x="-86"
                             data-y="296"
                             data-speed="750"
                             data-start="750"
                             data-endspeed="300">
                            <img src="{% static "images/1x1.png" %}" alt="" data-lazyload="{% static "images/caption_bg.png" %}">
                        </div>

                        <div class="tp-caption medium_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="34"
                             data-y="top" data-voffset="320"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="x:[-100%];opacity:0;s:2500"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="1500">
                            Be part of a community!
                        </div>

                        <div class="tp-caption small_light_white rs-parallaxlevel-0 "
                             data-x="left" data-hoffset="34"
                             data-y="top" data-voffset="400"
                             data-width="275"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:bottom;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"                            data-start="1500">
                            Share ideas, get insights, find out how to save money so you can do what you love.
                        </div>
                    </li>
                </ul>

                <div class="tp-bannertimer"><!-- progress bar --></div>

            </div>
        </div>
        <!-- /REVOLUTION SLIDER -->
        <a name="product"></a>

        <div class="container">

            <h1>Easy to use, powerful tools keep you on track.</h1>

            <div class="row margin-top-0">

	        <div class="col-md-4">

    		    <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
	    		    <a class="box-icon-title" href="{% url "public:capture" %}">
		    		    <img src="{% static "images/home/wallet.png" %}" alt="" width="150" />
			    	    <h1>Capture</h1>
			        </a>
			        <p style="font-weight: 400; font-size: 110%;"> Don't wait for a bank or card statement to find out you are over
                        budget&#8212;capture a purchase in a flash and know in an instant where you stand.</p>
                    <a href="{% url "public:capture" %}" class="btn btn-primary btn-bordered size-20 width-150 center-block">
                        <span>Learn More</span>
                    </a>
		        </div>

	        </div>

	        <div class="col-md-4">

		        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
			        <a class="box-icon-title" href="{% url "public:compare" %}">
                        <img src="{% static "images/home/piechart.png" %}" alt="" width="150" />
				        <h1>Compare</h1>
			        </a>
                    <p style="font-weight: 400; font-size: 110%;"> Don't guess&#8212;know your personal purchasing performance. Get insights into
                        your spending and how it compares to others; are you top dog?
                    </p>
                    <a href="{% url "public:compare" %}" class="btn btn-primary btn-bordered size-20 width-150 center-block">
                        <span>Learn More</span>
                    </a>
		        </div>

	        </div>

	        <div class="col-md-4">

		        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
			        <a class="box-icon-title" href="{% url "public:contribute" %}">
                        <img src="{% static "images/home/community.png" %}" alt="" width="150" />
				        <h1>Contribute</h1>
			        </a>
			        <p style="font-weight: 400; font-size: 110%;"> Join the Dandelion Community! Share your know-how, product and service ratings. Get the most
                        for your money and help others do the same!</p>
                    <a href="{% url "public:contribute" %}" class="btn btn-primary btn-bordered size-20 width-150 center-block">
                        <span>Learn More</span>
                    </a>
		        </div>

            </div>

        </div>
        </div>

    {% endblock %}

    {% block scripts %}

        <!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div>
        <!-- /PRELOADER -->

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>

        <script type="text/javascript" src="{% static "plugins/jquery/jquery-2.2.3.min.js" %}"></script>

        <!-- RS5.0 Core JS Files -->
        <script src="{% static "plugins/revolution/js/jquery.themepunch.tools.min.js" %}"  type="text/javascript"></script>
        <script src="{% static "plugins/revolution/js/jquery.themepunch.revolution.min.js" %}" type="text/javascript"></script>

        <script type="text/javascript" src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

        <script>
            jQuery(document).ready(function() {
                jQuery("#slider1").revolution({
                    sliderType:"standard",
                    sliderLayout:"auto",
                    delay:9000,
                    navigation: {
                        arrows:{enable:true}
                    },
                    gridwidth:1200,
                    gridheight:800
                });
            });
        </script>

    {% endblock %}