{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Privacy Policy" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans "Dandelion Diary Privacy Statement" %}</h2>

                <p>Your privacy is important to DANDELION DIARY.  This privacy statement provides information about the
                    personal information that DANDELION DIARY collects, and the ways in which DANDELION DIARY uses that
                    personal information.</p>

                <h3>Personal information collection</h3>
                <p>DANDELION DIARY may collect and use the following kinds of personal information:</p>
                <ul>
                    <li>information about your use of this website including log in dates and times, pages viewed,
                        forum participation;</li>
                    <li>information that you provide using for the purpose of registering with the website including
                        your first name, last name, email address, avatar(s);</li>
                    <li>information that you provide for the purpose of giving a general profile of your household
                        including household size, number of pets, vehicles used;</li>
                    <li>information about transactions logged into this website including budget and expense data, and
                        geo-location data including longitude and latitude coordinates and specific places
                        (business establishment) names and locations;</li>
                    <li>information that you provide for the purpose of subscribing to the website services including
                        payment dates;</li>
                    <li>information that you provide for the purpose of participating in and responding to community
                        forum posts; </li>
                    <li>and any other personal information that you send to DANDELION DIARY.</li>
                </ul>

                <h3>Using personal information</h3>
                <p>DANDELION DIARY may use your personal information to:</p>
                <ul>
                    <li>administer this website;</li>
                    <li>personalize the website for you;</li>
                    <li>enable your access to and use of the website services;</li>
                    <li>publish information about you on the website;</li>
                    <li>publish information about products or services that you may want to purchase;</li>
                    <li>create anonymized data sets for use in developing and maintaining bench marks, trend analysis,
                        and customer-based insights and best practices;</li>
                    <li>send you forum activity for forums you subscribe to;</li>
                    <li>send you reminders and acknowledgements for subscription services;</li>
                    <li>collect payments from you; and</li>
                    <li>send you marketing and/or newsletter communications.</li>
                </ul>
                <p>Where DANDELION DIARY discloses your personal information to its agents or sub-contractors for these
                    purposes, the agent or sub-contractor in question will be obligated to use that personal information
                    in accordance with the terms of this privacy statement.</p>
                <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above,
                    DANDELION DIARY may disclose your personal information to the extent that it is required to do so by
                    law, in connection with any legal proceedings or prospective legal proceedings, and in order to
                    establish, exercise or defend its legal rights.</p>
                <p>More details regarding where and how DANDELION DIARY collects and uses personal information can be found
                    <a href="//www.iubenda.com/privacy-policy/8019428" class="iubenda-nostyle no-brand iubenda-embed"
                       title="Privacy">here</a>.</p>
                    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

                <h3>Securing your data</h3>

                <p>DANDELION DIARY will take reasonable technical and organizational precautions to prevent the loss,
                    misuse or alteration of your personal information.</p>
                <p>DANDELION DIARY will store all the personal information you provide on its secure servers.</p>

                <h3>Cross-border data transfers</h3>

                <p>Information that DANDELION DIARY collects may be stored and processed in and transferred between any
                    of the countries in which DANDELION DIARY or its hosting service operates to enable the use of the
                    information in accordance with this privacy policy.</p>
                <p>In addition, personal information that you submit for publication on the website will be visible to
                    anyone on the internet and may be available around the world.</p>
                <p>You agree to such cross-border transfers of personal information.</p>

                <h3>Updating this statement</h3>

                <p>DANDELION DIARY may update this privacy policy by posting a new version on this website.</p>
                <p>You should check this page occasionally to ensure you are familiar with any changes.</p>

                <h3>Other websites</h3>

                <p>This website contains links to other websites and/or uses third-party software to facilitate certain
                    features or functions of the site.</p>
                <p>DANDELION DIARY is not responsible for the privacy policies or practices of any third party.</p>

                <h3>Contact DANDELION DIARY</h3>

                <p>If you have any questions about this privacy policy or DANDELION DIARY'S treatment of your personal information, please write:</p>
                <ul>
                    <li>by email to thedandeliondiary@gmail.com; or</li>
                    <li>by post to Dandelion Diary, P.O. Box 785, Isleton CA 95641 Attention: Privacy</li>
                </ul>
            </div>
    </div>

{% endblock %}