{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% load compare_extras %}

{% block title %}{% trans "Compare - Budget" %}{% endblock %}

{% block static %}
    <!-- PAGE LEVEL SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
          rel="stylesheet" type="text/css" />

    <!-- Include jTable style and jTable script. -->
    <link href="{% static "plugins/jtable/themes/metro/green/jtable.min.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "plugins/jtable/jquery.jtable.min.js" %}" type="text/javascript"></script>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "./menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

            <h2>{% trans page_title %}</h2>

            <div class="row">

                <!-- tabs -->
                <div class="col-md-3 col-sm-3 nopadding">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="active"><a href="#Budget_Summary" data-toggle="tab" onclick="refreshSummary();">Summary</a></li>
                        {% for tab in tabs %}
                            <li><a href="#Budget_Container" data-toggle="tab"
                                   onclick="getIndex({{ forloop.counter }});">{{ tab }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- tabs content -->
                <div class="col-md-9 col-sm-9 nopadding">
                    <div class="tab-content tab-stacked">
                        <div id="Budget_Summary" class="tab-pane active">
                        </div>
                        <div id="Budget_Container" class="tab-pane">
                            <input name="container_pointer" value="{{ keys }}" type="hidden" />
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>
    <!-- /PRELOADER -->

    <script type="text/javascript">

        var index = 0;

        $(document).ready(function () {
            $.ajaxSetup({beforeSend: function(xhr, settings){
                xhr.setRequestHeader('X-CSRFToken',
                         '{{ csrf_token }}');
            }});
        $('#Budget_Container').jtable({
            title: 'Group Categories',
            openChildAsAccordion: true,
            actions: {
                listAction: function (postData) {
                    return $.Deferred(function ($dfd) {
                        var $temp = $('#Budget_Container input[name="container_pointer"]').val().split(",");
                        $.ajax({
                            url: '/compare/ajax/list_categories/h/' + $temp[index] + '/',
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
                createAction: '',
                updateAction: '',
                deleteAction: ''
            },
            fields: {
                id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                // Child budget table
                budget: {
                    title: '',
                    width: '5%',
                    sorting: false,
                    edit: false,
                    create: false,
                    listClass: 'child-opener-image-column',
                    display: function (categoryData) {
                        //Create an image that will be used to open child table
                        var $img = $('<img src="{% static "images/dande/add_list-48.png" %}" height="20" title="Edit budgets" />');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            $('#Budget_Container').jtable('openChildTable', $img.closest('tr'), {
                                title: categoryData.record.my_category_name + ' budget records',
                                actions: {
                                    listAction: '/compare/ajax/list_budgets/' + categoryData.record.id + '/',
                                    deleteAction: '/compare/ajax/change_budget/d/',
                                    updateAction: '/compare/ajax/change_budget/u/',
                                    createAction: '/compare/ajax/create_budget/' + categoryData.record.id + '/'
                                },
                                fields: {
                                    id: {
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    amount: {
                                        title: 'Budget',
                                        width: '15%',
                                        listClass: 'text-right',
                                        input: function (data) {
                                            var input = '<input type="number" name="amount" style="width:200px" min="1" step="1" ';
                                            if (data.record) {
                                                input += 'value="' + data.record.amount + '" />';
                                            } else {
                                                input += 'value="" />';
                                            }
                                            return input;
                                        }
                                    },
                                    annual_payment_month: {
                                        title: 'Annual Payment Month',
                                        width: '25%',
                                        options: {0: '--', 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
                                    },
                                    note: {
                                        title: 'Note',
                                        width: '55%',
                                        type: 'textarea'
                                    },
                                    effective_date: {
                                        title: 'Effective Date',
                                        width: '15%',
                                        type: 'date',
                                        displayFormat: 'yy-mm-dd',
                                        sorting: true
                                    }
                                },
                                //Modify create and edit forms for required fields, instructions, defaults
                                formCreated: function (event, data) {
                                    //Indicate required fields
                                    $('input[name="amount"]').after('<span style="color:red;"> * </span>' +
                                            '<button type="button"class="btn btn-info" onclick="divideMe();">Divide by 12</button>');
                                    $('input[name="effective_date"]').after('<span style="color:red;"> *</span>');
                                    if (data.formType == 'create') {
                                        $('form[id="jtable-create-form"]').prepend('<span id="helpBlock" ' +
                                            'class="help-block"><i>Instructions:</i> ' +
                                            'Enter <b>monthly</b> budget amount. For items paid annually, enter the ' +
                                            'annual amount divided by 12, and the month the item is paid.' +
                                            '</span>');
                                        var d = new Date();
                                        var month = d.getMonth()+1;
                                        if ((d.getMonth()+1) < 10){
                                            month = '0' + (d.getMonth()+1);
                                        }
                                        var strDate = d.getFullYear() + "-" + month + "-" + d.getDate();
                                        $('input[name="effective_date"]').val(strDate);
                                    }
                                },
                                //Validate form when it is being submitted
                                formSubmitting: function (event, data) {
                                    var ok = true;
                                    var message = '';
                                    var temp = '';

                                    temp = $('input[name="amount"]').val();
                                    if (temp == '' || temp <= 0) {
                                        ok = false;
                                        message += 'Budget amount must be specified and greater than zero.\n';
                                    }else{
                                        var s = temp.toString().split('.');
                                        if (s[1]){
                                            if (s[1].length > 2) {
                                                ok = false;
                                                message += 'Budget amount cannot have more than two decimal places.\n';
                                            }
                                        }
                                    }

                                    temp = $('input[name="effective_date"]').val();
                                    if (isDate(temp) == false) {
                                        ok = false;
                                        message += 'Effective date must be provided and specified in format yyyy-mm-dd.\n';
                                    }

                                    if (message) {
                                        alert(message);
                                    }
                                    return ok;
                                }
                            }, function (data) { //opened handler
                                data.childTable.jtable('load');
                            });
                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },
                my_category_name: {
                    title: 'Category',
                    width: '95%',
                    create: false,
                    edit: false
                }
            },
            //Don't show update or delete buttons here
            rowInserted: function(event, data){
                data.row.find('.jtable-edit-command-button').hide();
                data.row.find('.jtable-delete-command-button').hide();
            }

        });
        $('#Budget_Container').jtable('load');
            $('#Budget_Summary').jtable({
                title: 'Household Budget',
                actions: {
                    listAction: function (postData) {
                        return $.Deferred(function ($dfd) {
                            $.ajax({
                                url: '/compare/ajax/budget_summary/',
                                type: 'POST',
                                dataType: 'json',
                                data: postData,
                                success: function (data) {
                                    $dfd.resolve(data);
                                },
                                error: function () {
                                    $dfd.reject();
                                }
                            });
                        });
                    },
                    createAction: '',
                    updateAction: '',
                    deleteAction: ''
                },
                fields: {
                    field1: {
                        title: 'Group/Category',
                        width: '70%',
                        create:false,
                        edit: false,
                        list: true
                    },
                    field2: {
                        title: 'Amount',
                        width: '15%',
                        listClass: 'text-right',
                        create: false,
                        edit: false,
                        list: true
                    },
                    field3: {
                        title: 'Total',
                        width: '15%',
                        listClass: 'text-right',
                        create: false,
                        edit: false,
                        list: true
                    }
            },
                //Don't show update or delete buttons here
                rowInserted: function(event, data){
                    data.row.find('.jtable-edit-command-button').hide();
                    data.row.find('.jtable-delete-command-button').hide();
                }
            });
            $('#Budget_Summary').jtable('load');
        });

        function isDate(txtDate) {
            var currVal = txtDate;
            if(currVal == '') {
                return false;
            }
            //Declare Regex for date pattern yyyy-mm-dd
            var rxDatePattern = /^(\d{4})(\-)(\d{1,2})(\-)(\d{1,2})$/;
            var dtArray = currVal.match(rxDatePattern); // is format OK?
            if (dtArray == null) {
                return false;
            }
            dtMonth = dtArray[3];
            dtDay= dtArray[5];
            dtYear = dtArray[1];
            if (dtMonth < 1 || dtMonth > 12) {
                return false;
            } else {
                if (dtDay < 1 || dtDay > 31) {
                    return false;
                } else {
                    if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31) {
                        return false;
                    } else {
                        if (dtMonth == 2) {
                            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                            if (dtDay > 29 || (dtDay == 29 && !isleap)) {
                                return false;
                            }
                        }
                    }
                }
            }
            return true;
        }

        function getIndex(i) {
            index = i - 1;
            $('#Budget_Container').jtable('reload');
        }

        function refreshSummary() {
            $('#Budget_Summary').jtable('reload');
        }

        function divideMe() {
            var amount = $('input[name="amount"]').val();
            $('input[name="amount"]').val(Math.ceil(amount/12));
        }

    </script>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}
