{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Compare - Dashboard" %}{% endblock %}
{% block static %}
    <!-- PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        th, td { padding: 5px; }
    </style>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "./menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

            <h2>{% trans page_title %}</h2>

            <div class="row">

                <!-- tabs -->
                <ul class="nav nav-tabs nav-clean">
                    <li class="active"><a href="#Monthly_Snapshot" data-toggle="tab" onclick="drawMonthlySnapshot();">
                        Monthly Snapshot</a></li>
                    <li><a href="#Year_View" data-toggle="tab" onclick="drawYearView();">Year View</a></li>
                    <li><a href="#Top_Bottom_View" data-toggle="tab" onclick="drawTopBottomView();">
                        Top/Bottom 5 View</a></li>
                    <li><a href="#Budget_View" data-toggle="tab" onclick="drawBudgetView();">Budget View</a></li>
                </ul>

                <!-- tabs content -->
                <div class="tab-content">

                    <div id="Monthly_Snapshot" class="tab-pane fade in active">
                        {% with unique_id='chooseMonth0' %}
                            {% include "incl_choose_month.html" %}
                        {% endwith %}
                        <script>
                            document.getElementById("chooseMonth0").onchange = function () {
                                drawMonthlySnapshot();
                            };
                        </script>
                        <div class="col-md-12" id="chart_current_expenses"></div>
                        <div style="margin-left:4em;">
                            <table>
                                <tr><td>Total budget:</td><td id="snapshotBudget"></td></tr>
                                <tr><td>Total expenses:</td><td id="snapshotExpenses"></td></tr>
                                <tr><td>Net remaining:</td><td id="snapshotNetRemaining"></td></tr>
                                <tr><td id="snapshotDaysRemainingLabel"></td><td id="snapshotDaysRemaining"></td></tr>
                            </table>
                        </div>

                    </div>

                    <div id="Year_View" class="tab-pane fade">
                        <span style="margin-left:1em;">For year:</span> <select id="chooseYear" >
                            {% for yr in years %}
                                <option value="{{ yr }}">{{ yr }}</option>
                            {% endfor %}
                        </select>
                    {{ choose_category }}
                        <script>
                            document.getElementById("chooseYear").onchange = function () {
                                drawYearView();
                            };
                            document.getElementsByName("choose_category")[0].onchange = function() {
                                drawYearView();
                            };
                        </script>
                        <div class="col-md-12" id="chart_year_view"></div>
                        <div class="col-md-12" id="analysis" style="display: none;">
                            <div class="row padding-20">
                                <h4>Budget Analysis</h4>
                                <table>
                                    <thead></thead>
                                    <tr><td>Annual Budget:</td><td id="totalBudget"></td></tr>
                                    <tr><td>Forecast Total Expenses:</td><td id="forecastExpenses"></td></tr>
                                    <tr><td>Forecast Variance:</td><td id="forecastVariance"></td></tr>
                                    <tr><td colspan="2">Categories below are primary negative drivers:</td></tr>
                                    <tr><td colspan="2" id="negativeDrivers"></td></tr>
                                    <tr><td colspan="2">Categories below are primary positive drivers:</td></tr>
                                    <tr><td colspan="2" id="positiveDrivers"></td></tr>
                                    <tr><td colspan="2">Categories below are secondary drivers:</td></tr>
                                    <tr><td colspan="2" id="secondaryDrivers"></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="Top_Bottom_View" class="tab-pane fade">
                        <span style="margin-left:1em;">For year:</span> <select id="chooseYear" >
                            {% for yr in years %}
                                <option value="{{ yr }}">{{ yr }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            document.getElementById("chooseYear").onchange = function () {
                                drawTopBottomView();
                            };
                        </script>
                        <div class="col-md-12" id="chart_positive_view"></div>
                        <div class="col-md-12" id="chart_negative_view"></div>
                    </div>

                    <div id="Budget_View" class="tab-pane fade">

                        {% with unique_id='chooseMonth1' %}
                            {% include "incl_choose_month.html" %}
                        {% endwith %}
                        <script>
                            document.getElementById("chooseMonth1").onchange = function () {
                                drawBudgetView();
                            };
                        </script>
                        <div class="col-md-12" id="chart_budget"></div>
                        <div id="budgetViewTotalBudget" style="margin-left:1em;"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

    $(window).ready(function() {

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set callbacks to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawMonthlySnapshot);

    });

        function drawMonthlySnapshot() {

            var date = document.getElementById('chooseMonth0').value;

            var jsonData = $.ajax({
                url: "/compare/ajax/dashboard_snapshot/" + date + '/',
                dataType: "json",
                async: false
            }).responseText;
            var data = JSON.parse(jsonData);

            $('#snapshotBudget').html('$' + data.totalBudget);
            $('#snapshotExpenses').html(' $' + data.totalExpenses);
            $('#snapshotNetRemaining').html(' $' + data.netRemaining);
            if (data.netRemaining < 0) {
                $('#snapshotNetRemaining').attr('style', 'color:red;')
            } else {
                $('#snapshotNetRemaining').attr('style', 'color:black;')
            }
            if (data.daysRemaining > 0) {
                $('#snapshotDaysRemainingLabel').html('Days remaining:');
                $('#snapshotDaysRemaining').html(data.daysRemaining);
            } else {
                $('#snapshotDaysRemainingLabel').html('');
                $('#snapshotDaysRemaining').html('');
            }

            // Draw monthly snapshot column chart
            var data2 = new google.visualization.DataTable(data.budgetExpenseColumnchart);
            var options2 = {
                title: 'Expenses to Budget',
                legend: {position: 'top', alignment: 'start'},
                width: 775,
                height: 450,
                animation: {
                    startup: true,
                    duration: 1000,
                    easing: 'out',
                },
                hAxis: {title: 'Budget Groups'},
                vAxis: {title: 'Dollars'}
            };
            var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_current_expenses'));
            chart2.draw(data2, options2);

        }

        function drawYearView() {

            var year = document.getElementById('chooseYear').value;
            var category = document.getElementsByName('choose_category')[0].value;

            var from_date = year + '-01-01';
            var to_date = year + '-12-01';

            var jsonData = $.ajax({
                url: "/compare/ajax/dashboard_month_series/" + from_date + '/' + to_date + '/' + category + '/',
                dataType: "json",
                async: false
            }).responseText;
            var data = JSON.parse(jsonData);

            if (data.analysis.show == true) {
                $('#analysis').attr('style', 'display:block;');
                $('#totalBudget').html('$' + data.analysis.totalBudget);
                $('#forecastExpenses').html('$'+ data.analysis.totalExpenses);
                $('#forecastVariance').html('$' + data.analysis.forecastVariance);

                $('#negativeDrivers').html(formatBudgetDrivers(data.analysis.primary_neg_drivers));
                $('#positiveDrivers').html(formatBudgetDrivers(data.analysis.primary_pos_drivers));
                $('#secondaryDrivers').html(formatBudgetDrivers(data.analysis.secondary_drivers));
            }

            // Draw year view column chart
            var data2 = new google.visualization.DataTable(data.monthSeries);
            var options2 = {
                title: 'Budget to Expense Net Result',
                width: 775,
                legend: 'none',
                animation: {
                    startup: true,
                    duration: 1000,
                    easing: 'out',
                },
                hAxis: {title: 'Month'},
                vAxis: {title: 'Dollars'}
            };
            var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_year_view'));
            chart2.draw(data2, options2);

        }

        function drawTopBottomView() {

            var year = document.getElementById('chooseYear').value;

            var from_date = year + '-01-01';
            var to_date = year + '-12-01';

            var jsonData = $.ajax({
                url: "/compare/ajax/dashboard_budget_drivers/" + from_date + '/' + to_date + '/',
                dataType: "json",
                async: false
            }).responseText;
            var data = JSON.parse(jsonData);

            // Draw top or bottom positive budget drivers column chart
            var data2 = new google.visualization.DataTable(data.positiveDrivers);
            var options2 = {
                title: 'Top 5 Positive (under budget) Categories',
                width: 775,
                legend: 'none',
                animation: {
                    startup: true,
                    duration: 1000,
                    easing: 'out',
                },
                hAxis: {title: 'Category'},
                vAxis: {title: 'Dollars'}
            };
            var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_positive_view'));
            chart2.draw(data2, options2);

            // Draw top or bottom negative budget drivers column chart
            var data3 = new google.visualization.DataTable(data.negativeDrivers);
            var options3 = {
                title: 'Top 5 Negative (over budget) Categories',
                width: 775,
                legend: 'none',
                animation: {
                    startup: true,
                    duration: 1000,
                    easing: 'out',
                },
                hAxis: {title: 'Category'},
                vAxis: {title: 'Dollars'}
            };
            var chart3 = new google.visualization.ColumnChart(document.getElementById('chart_negative_view'));
            chart3.draw(data3, options3);

        }

        function drawBudgetView() {

            var date = document.getElementById('chooseMonth1').value;

            var jsonData = $.ajax({
                url: "/compare/ajax/dashboard_budget/" + date + '/',
                dataType: "json",
                async: false
            }).responseText;
            var data = JSON.parse(jsonData);

            $('#budgetViewTotalBudget').html('Total budget: $' + data.totalBudget);

            // Draw budget pie chart
            var data1 = new google.visualization.DataTable(data.budgetPiechart);
            var options1 = {
                title: 'Budget Allocation',
                is3D: true,
                width: 500,
                height: 300
            };
            var chart1 = new google.visualization.PieChart(document.getElementById('chart_budget'));
            chart1.draw(data1, options1);

        }

        function formatBudgetDrivers(a) {

            var drivers = '<ul>';

            if (a.length == 0) {
                    drivers += '<li>None.</li>';
            } else {
                $.each(a, function (index, value) {
                    drivers += '<li>' + value + '</li>';
                });
            }

            drivers += '</ul>';

            return drivers;
        }

    </script>

    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}