{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Explore Expenses" %}{% endblock %}

{% block static %}
    <!-- PAGE LEVEL SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
          rel="stylesheet" type="text/css" />

    <!-- Include jTable style and jTable script. -->
    <link href="{% static "plugins/jtable/themes/metro/green/jtable.min.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "plugins/jtable/jquery.jtable.min.js" %}" type="text/javascript"></script>

    <script>
    function showHide(){
        $("#selectFilters").toggle();
    }
    function clearFilter(){
        $("#frDate").val('');
        $("#toDate").val('');
        $("#frAmount").val('');
        $("#toAmount").val('');
        $("#inCategory").val('');
        $("#inNote").val('');
        $('#buttonFilter').removeClass('btn-amber').addClass('btn-default');
        showHide();
        $("#LoadRecordsButton").click();
    }
    $(function() {
        $( "#frDate" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $( "#toDate" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
    </script>

    <style>
        table, th, td {
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}

{% block body_container %}

    {% include "./menu.html" %}

    <div class="col-md-8 col-md-offset-2">

            <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

                <h2>{% trans page_title %}</h2>

                <button class='btn btn-default' id="buttonFilter" name="buttonFilter"
                        onclick="showHide();">Hide/Show Filter</button>

                <form class="margin-top-0 sky-form centered" id="formFilter" name="formFilter">

                    <div id="selectFilters" name="selectFilters" style="display:none;">

                        <div class="box-static box-transparent box-bordered">
                            <table style="border-spacing: 5px;">
                                <tr>
                                    <td>From Date:</td><td><input type="date" name="frDate" id="frDate" /></td>
                                    <td>To Date:</td><td><input type="date" name="toDate" id="toDate" /></td>
                                    <td rowspan="3" width="20%">
                                        To filter by a specific date or amount (not a range), enter "from" value only.
                                        Do not include '$' when specifying amounts. Values for category and notes are
                                        not case sensitive.
                                    </td>
                                </tr>
                                <tr>
                                    <td>From Amount:</td><td><input type="number" name="frAmount" id="frAmount" /></td>
                                    <td>To Amount:</td><td><input type="number" name="toAmount" id="toAmount" /></td>
                                </tr>
                                <tr>
                                    <td>Category Contains:</td><td><input type="text" name="inCategory" id="inCategory" /></td>
                                    <td>Note Contains:</td><td><input type="text" name="inNote" id="inNote" /></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <button class='btn btn-amber' type="submit" id="LoadRecordsButton"
                                            name="LoadRecordsButton">Filter</button>
                                        <button class='btn btn-aqua' id='clearFilter' name='clearFilter'
                                            onclick='clearFilter();'>Reset</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>

                <!-- Display Receipt -->
                <div id="receiptModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
	                <div class="modal-dialog">
		                <div class="modal-content">

			                <!-- Modal Header -->
			                <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
				                <h4 class="modal-title" id="myModalLabel">Expense Receipt</h4>
			                </div>

			                <!-- Modal Body -->
			                <div class="modal-body">
				                <p>Use the right-click menu to download a copy of your reciept image.</p>
                                <img id="receiptImg" src="" width="540" alt="Receipt image" />
			                </div>

                			<!-- Modal Footer -->
			                <div class="modal-footer">
				                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                </div>

		                </div>
	                </div>
                </div>

                <!-- Export expenses -->
                <div align="right">
                    <a href="{% url "capture:export_expenses" %}">Download my expenses</a>
                </div>

                <!-- Display Table of Expenses -->
                <div id="Explore_Expenses_Container"></div>

            </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

    $(document).ready(function () {
        $.ajaxSetup({beforeSend: function(xhr, settings){
            xhr.setRequestHeader('X-CSRFToken',
                         '{{ csrf_token }}');
        }});
        $('#Explore_Expenses_Container').jtable({
            title: '',
            paging: true,
            actions: {
                listAction: '/capture/ajax/list_expenses/',
                createAction: '',
                updateAction: '/capture/ajax/change_expense/u/',
                deleteAction: '/capture/ajax/change_expense/d/'
            },
            fields: {
                id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                expense_date: {
                    title: 'Date',
                    type: 'date',
                    width: '15%'
                },
                amount: {
                    title: 'Amount',
                    type: 'number',
                    width: '10%'
                },
                category:{
                    title: 'Category',
                    width: '25%',
                    edit: false
                },
                note: {
                    title: 'Note',
                    type: 'textarea',
                    width: '50%'
                },
                receipt: {
                    title: 'Receipt',
                    display: function(data){
                        var html = '';
                        if (data.record.receipt != 'none') {
                            html = "<button type='button' class='btn btn-primary btn-xs' data-toggle='modal' " +
                                "data-target='#receiptModal' onclick=" +
                                "\"$('#receiptImg').attr('src','{{ MEDIA_URL }}" + data.record.receipt + "');\" >";
	                        html += "<i class='fa fa-file-picture-o'</i> View</button>";
                            //html = '<a href="' + data.record.receipt + '" target="_blank">View</a>';
                        }
                        return html;
                    },
                    edit: false
                }
            },
            //Validate form when it is being submitted
            formSubmitting: function (event, data) {
                var ok = true;
                var message = '';
                var $temp = '';

                $temp = $('input[name="amount"]').val();
                if ($temp == ''){
                    ok = false;
                    message += 'Amount must be greater than zero.\n';
                }

                if (message) {
                    alert(message);
                }
                return ok;
            },
            //Conditionally show edit and delete buttons
            rowInserted: function(event, data){
              if (data.record.amount == 0){
                //data.row.find('.jtable-edit-command-button').hide();
                //data.row.find('.jtable-delete-command-button').hide();
              }
            },
            recordUpdated: function (event, data) {
                $('#Explore_Expenses_Container').jtable('reload')
            },
            // Add table footer, count and sum of records showing on page
            recordsLoaded: function (event, data){
                var footer = $('table.jtable').find('tfoot');
                if (!footer.length) {
                    footer = $('<tfoot>').appendTo('table.jtable');
                    footer.append($('<td id="count">00</td><td id="sum" colspan="6">0.00</td>'));
                }
                var count = 0;
                var total = 0;
                var items = data.serverResponse['Records'];
                $.each(items, function(index, value){
                    count += 1;
                    total += parseFloat(value.amount);
                });
                $('#count').html(count);
                $('#sum').html('$' + total.toFixed(2));
            }
        });
        //Re-load records when user clicks 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
            $('#buttonFilter').removeClass('btn-default').addClass('btn-amber');
            showHide();
            $('#Explore_Expenses_Container').jtable('load', {
                frDate: $('#frDate').val(),
                toDate: $('#toDate').val(),
                frAmount: $('#frAmount').val(),
                toAmount: $('#toAmount').val(),
                inCategory: $('#inCategory').val(),
                inNote: $('#inNote').val()
            });
        });
        $('#Explore_Expenses_Container').jtable('load');
    });

    </script>

    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}