{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% load capture_extras %}

{% block title %}{% trans "Capture - New Expense" %}{% endblock %}

{% block static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
          rel="stylesheet" type="text/css" />

    <!-- Include jQuery inline calculator -->
    <link href="{% static "plugins/calculator/jquery.calculator.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "plugins/calculator/jquery.plugin.js" %}" type="text/javascript"></script>
    <script src="{% static "plugins/calculator/jquery.calculator.js" %}" type="text/javascript"></script>

    <script>

        $(function() {
            $( "#id_expense_date" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });

        $(function () {
	        $.calculator.setDefaults({
                showOn: 'button',
                buttonImageOnly: true,
                buttonImage: '{% static "plugins/calculator/calculator.png" %}',
                showAnim: 'explode',
                showFormula: true
            });
	        $('#id_amount').calculator({
                onOpen: function(value, inst) {
                    $(this).val($('#id_amount_receipt').val());
            }});
	        $('#id_amount_split').calculator({
                onOpen: function(value, inst) {
                    var starting_amount = $('#id_amount').val();
                    if (starting_amount == 0) {
                        starting_amount = $('#id_amount_receipt').val()
                    }
                    $(this).val(starting_amount);
            }});
        });

        $( document ).ready(function() {

            var elSplit = document.getElementById('id_split');
            elSplit.addEventListener('click', function() {

                if ($('#showSplit').css('display') == 'none'){
                    $('#showSplit').css("display", "block");
                } else {
                    $('#showSplit').css("display", "none");
                }

            }, false);

            var elSubmit = document.getElementById('submitForm');
            elSubmit.addEventListener('click', function() {

                var elPlacesHTML = document.getElementById('id_hidden_places');
                if (elPlacesHTML.value.length > 0) {

                    var elPlaceChooser = document.getElementById('id_choose_place');
                    var choice = elPlaceChooser.options[elPlaceChooser.selectedIndex].value;

                    elPlacesHTML.value = removeSelected(elPlacesHTML.value);
                    elPlacesHTML.value = addSelected(elPlacesHTML.value, choice);
                }

            }, false);

            function removeSelected(str) {
                var x = str.indexOf(' selected="selected"');
                if (x == -1) {
                    return str;
                } else {
                    return str.substring(0, x) + str.substring((x + 20));
                }
            }

            function addSelected(str, val) {
                var x = str.indexOf(val);
                if (x == -1) {
                    return str;
                } else {
                    var offset = val.length + 1;
                    return str.substring(0, x + offset) + ' selected="selected"' + str.substring(x + offset);
                }
            }

        });

        function toggleNoteTags(obj, tag) {
            var note = $('#' + obj);

            if (note.val().indexOf(tag) >= 0) {
                // remove tag when found
                note.val(function(index, val){
                    return val.replace(tag, '');
                });
            } else {
                // add tag when not found
                note.val(function(index, val){
                    return val += (' ' + tag + ' ');
                });
            }

            // get rid of extra white space independently
            note.val(function(index, val){
               return val.replace(/\s+/g, ' ');
            });
            note.val(function(index, val){
               return val.replace(/^\s+/g, '');
            });

        }

    </script>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}{% block body_attributes %} onload="getGeoLocation();" {% endblock %}

{% block body_container %}

    {% include "./menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <form id="new_expense" class="margin-top-30 sky-form boxed centered" method="POST"
              action="{% url url %}{% if geo %}{{ geo }}{% endif %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="box-static box-transparent box-bordered">

                <h2>{% trans page_title %}</h2>

                <!-- ALERTS -->
                <div class="row"><div class="col-md-6 col-sm-6">
                    {% if not messages %}
                        <div id='geoMessage' class="alert alert-{{ location_message.0 }} margin-bottom-15">
                            {{ location_message.1 }}</div>
                    {% endif %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-{{msg.level_tag}} margin-bottom-15" role="alert">
                                {{msg.message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div></div>
                <!-- /ALERTS -->

                <fieldset>

                    <div class="row"><div class="form-group"> <!-- receipt total -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.amount_receipt.label }}</label>
                            <label class="input margin-bottom-10">{{ form.amount_receipt }}
                                <b class="tooltip tooltip-right">{{ form.amount_receipt.help_text }}</b>
                            </label>
                            {% if form.amount_receipt.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.amount_receipt.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>

                    <div class="row"> <!-- split? -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.split.label }} {{ form.split }}</label>
                        </div>
                    </div>

                    <div class="row"><div class="form-group"> <!-- amount -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.amount.label }}</label>
                            <label class="input margin-bottom-10">{{ form.amount }}
                                <b class="tooltip tooltip-right">{{ form.amount.help_text }}</b>
                            </label>
                            {% if form.amount.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.amount.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>

                    <div id="geo" style="display: {% if form.hidden_places.value %}block{% else %}none{% endif %};">
                        <div class="row"><div class="form-group"> <!-- choose place -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.choose_place.label }}</label>
                                <label class="input margin-bottom-10">{{ form.choose_place }}
                                    <b class="tooltip tooltip-right">{{ form.choose_place.help_text }}</b>
                                    {{ form.hidden_places }}
                                </label>
                                {% if form.choose_place.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.choose_place.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div></div>
                    </div>

                    <div class="row"><div class="form-group"> <!-- choose category -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.choose_category.label }}</label>
                            <label class="input margin-bottom-10">{{ form.choose_category }}
                                <b class="tooltip tooltip-right">{{ form.choose_category.help_text }}</b>
                                {{ form.hidden_categories }}
                            </label>
                            {% if form.choose_category.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.choose_category.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>

                    <div class="row"><div class="form-group"> <!-- note -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.note.label }}</label>
                            <label id="note" class="input margin-bottom-10">{{ form.note }}
                                <b class="tooltip tooltip-right">{{ form.note.help_text }}</b>
                            </label>
                            {% if form.note.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.note.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% if tags %}
                            <div class="col-md-4 col-sm-4">Note Quick Tags:
                            {% for tag in tags %}
                                <button type="button" class="btn btn-xs"
                                        onclick="toggleNoteTags('id_note', '{{ tag.tag }}')">{{ tag.tag }}</button>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div></div>

                    <!-- Split expense -->
                    <div id="showSplit" style="display:{% if form.split.value %} block{% else %} none{% endif %}; background-color: whitesmoke;">

                        <div class="row" style="margin-left: 5px;"><div class="form-group"> <!-- amount to split -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.amount_split.label }}</label>
                                <label class="input margin-bottom-10">{{ form.amount_split }}
                                    <b class="tooltip tooltip-right">{{ form.amount_split.help_text }}</b>
                                </label>
                                {% if form.amount_split.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.amount_split.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div></div>

                        <div class="row" style="margin-left: 5px;"><div class="form-group"> <!-- category split -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.choose_category_split.label }}</label>
                                <label class="input margin-bottom-10">{{ form.choose_category_split }}
                                    <b class="tooltip tooltip-right">{{ form.choose_category_split.help_text }}</b>
                                </label>
                                {% if form.choose_category_split.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.choose_category_split.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div></div>

                        <div class="row" style="margin-left: 5px;"><div class="form-group"> <!-- note for split -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.note_split.label }}</label>
                                <label class="input margin-bottom-10">{{ form.note_split }}
                                    <b class="tooltip tooltip-right">{{ form.note_split.help_text }}</b>
                                </label>
                                {% if form.note_split.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.note_split.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% if tags %}
                                <div class="col-md-4 col-sm-4">Note Quick Tags:
                                    {% for tag in tags %}
                                        <button type="button" class="btn btn-xs"
                                            onclick="toggleNoteTags('id_note_split', '{{ tag.tag }}')">{{ tag.tag }}
                                        </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div></div>

                    </div>

                    <div class="row"><div class="form-group"> <!-- expense date -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.expense_date.label }}</label>
                            <label class="input margin-bottom-10">{{ form.expense_date }}
                                <b class="tooltip tooltip-right">{{ form.expense_date.help_text }}</b>
                            </label>
                            {% if form.expense_date.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.expense_date.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>

                    <div class="row"><div class="form-group"> <!-- receipt -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.receipt.label }}</label>
                            <label class="input margin-bottom-10">{{ form.receipt }}
                                <b class="tooltip tooltip-right">{{ form.receipt.help_text }}</b>
                            </label>
                            {% if form.receipt.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.receipt.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>

                </fieldset>

                    <div class="row"><div class="col-md-12">
                        <button id="submitForm" type="submit" class="btn btn-primary btn-bordered pull-right">
                            <i class="fa fa-check"></i>{% trans "Save" %}</button>
                    </div></div>

            </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}

    <script>

        function getGeoLocation() {

            // Been here, done that. Use saved values rather than fetching geo and google place info again.
            var placesHTML = $('#id_hidden_places').val();
            if ( placesHTML.length > 0 ) {

                // Prepend place information again; 'selected' was managed on click event for submit
                $('#id_choose_place').append(placesHTML);

                var categoriesHTML = $('#id_hidden_categories').val();
                var $el = $("#id_choose_category");
                var choice = $el.find(":selected").val();

                $el.find("option").eq(0).remove();
                $el.prepend(categoriesHTML);

                if (choice == '0') {
                    $("select#id_choose_category")[0].selectedIndex = 0;
                }


            } else {

                var geoOptions = {
                    timeout: 100 * 1000,
                    enableHighAccuracy: true
                };

                var geoSuccess = function (position) {
                    $('#geoMessage').removeClass('alert-error').removeClass('alert-warning').addClass('alert-success')
                        .html('Found location, getting geo based categories.');
                    setupCategoryPlace(position);
                };

                var geoError = function (error) {
                    console.log('Error occurred. Error code: ' + error.code);
                    // error.code can be:
                    //   0: unknown error
                    //   1: permission denied
                    //   2: position unavailable (error response from location provider)
                    //   3: timed out
                };

                navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);

            }
        }

        function setupCategoryPlace(pos) {

            var request = $.ajax({
                url: '/capture/ajax/places/' + pos.coords.latitude + '/' + pos.coords.longitude + '/',
                dataType: "json"
            });

            request.done(function (result) {
                if (result.Status == 'OK') {

                    var places = result.places;
                    if (places.length > 0) {

                        var $el0 = $('#id_choose_place');
                        var places_html = "<option value='0'>------</option>";
                        for (i = 0; i < places.length; i++) {
                            var option = places[i];
                                places_html += '<option value="' + option[0] + '">' + option[1] + '</option>';
                        }
                        $el0.append(places_html);
                        $el0.find("option").eq(0).attr('selected', 'selected');
                        $("select#id_choose_place")[0].selectedIndex = 0;

                        var categories = result.category_places;
                        var $el1 = $("#id_choose_category");
                        $el1.find("option").eq(0).remove();
                        $el1.prepend(categories);
                        $el1.find("option").eq(0).attr('selected', 'selected');
                        $("select#id_choose_category")[0].selectedIndex = 0;

                        // Save this information with the form to prevent fetching again if form has errors
                        $('#id_hidden_places').val(places_html);
                        $('#id_hidden_categories').val(categories);

                        $('#geoMessage').html('Geo location categories found.');
                        $('#geo').css('display', 'block');

                    } else {

                        $('#geoMessage').html('No categories were found based on geo location.');
                    }

                } else {

                    $('#geoMessage').removeClass('alert-error').removeClass('alert-success').addClass('alert-warning')
                        .html(result.Message);
                }
            });

            request.fail(function (jqXHR, textStatus) {

                $('#geoMessage').removeClass('alert-error').removeClass('alert-success').addClass('alert-warning')
                    .html('Oops! Something went wrong. Categories by geo location not available.');

            });

        }
     
    </script>

    <script type="text/javascript">var plugin_path = '{% static "plugins/" %}';</script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

{% endblock %}
