{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% load capture_extras %}

{% block title %}{% trans "Capture - New Expense" %}{% endblock %}

{% block static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
          rel="stylesheet" type="text/css" />

    <script>
        $(function() {
            $( "#id_expense_date" ).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

{% endblock %}

{% block body_classes %} bg-grey {% endblock %}{% block body_attributes %} onload="getGeoLocation();" {% endblock %}

{% block body_container %}

    {% include "./menu.html" %}

    <div class="col-md-8 col-md-offset-2">

        <form id="new_expense" class="margin-top-30 sky-form boxed centered" method="POST"
              action="{% url url %}{% if geo %}{{ geo }}{% endif %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="box-static box-transparent box-bordered">

                <h2>{% trans page_title %}</h2>

                <!-- ALERTS -->
                <div class="row"><div class="col-md-6 col-sm-6">
                    {% if not messages %}
                    <div class="alert alert-{{ location_message.0 }} margin-bottom-15">{{ location_message.1 }}</div>
                    {% endif %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-{{msg.level_tag}} margin-bottom-15" role="alert">
                                {{msg.message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div></div>
                <!-- /ALERTS -->

                <fieldset>
                    <div class="row"><div class="form-group"> <!-- amount -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.amount.label }}</label>
                            <label class="input margin-bottom-10">{{ form.amount }}
                                <b class="tooltip tooltip-right">{{ form.amount.help_text }}</b>
                            </label>
                            {% if form.amount.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.amount.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>
                    <div class="{% if places > 1 %}show{% else %}hide{% endif %}">
                        <div class="row"><div class="form-group"> <!-- choose category based on place -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.choose_category_place.label }}</label>
                                <label class="input margin-bottom-10">{{ form.choose_place }}</label>
                                {% if form.choose_place.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.choose_place.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                                <label class="input margin-bottom-10">{{ form.choose_category_place }}</label>
                                {% if form.choose_category_place.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.choose_category_place.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                                <a href="#allCategories" data-toggle="collapse" class="pull-right">
                                    OR use non-place based categories</a>
                            </div>
                        </div></div>
                    </div>
                    <div id="allCategories" class="collapse {% if places <= 1 %}in{% endif %}">
                        <div class="row"><div class="form-group"> <!-- choose category -->
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.choose_category.label }}</label>
                                <label class="input margin-bottom-10">{{ form.choose_category }}
                                    <b class="tooltip tooltip-right">{{ form.choose_category.help_text }}</b>
                                </label>
                                {% if form.choose_category.errors %}
                                    <div class="alert alert-mini alert-danger margin-bottom-15">
                                        {% for error in form.choose_category.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div></div>
                    </div>
                    <div class="row"><div class="form-group"> <!-- note -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.note.label }}</label>
                            <label class="input margin-bottom-10">{{ form.note }}
                                <b class="tooltip tooltip-right">{{ form.note.help_text }}</b>
                            </label>
                            {% if form.note.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.note.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>
                    <div class="row"><div class="form-group"> <!-- expense date -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.expense_date.label }}</label>
                            <label class="input margin-bottom-10">{{ form.expense_date }}
                                <b class="tooltip tooltip-right">{{ form.expense_date.help_text }}</b>
                            </label>
                            {% if form.expense_date.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.expense_date.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>
                    <div class="row"><div class="form-group"> <!-- receipt -->
                        <div class="col-md-6 col-sm-6">
                            <label>{{ form.receipt.label }}</label>
                            <label class="input margin-bottom-10">{{ form.receipt }}
                                <b class="tooltip tooltip-right">{{ form.receipt.help_text }}</b>
                            </label>
                            {% if form.receipt.errors %}
                                <div class="alert alert-mini alert-danger margin-bottom-15">
                                    {% for error in form.receipt.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div></div>
                </fieldset>

                <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-bordered pull-right"><i class="fa fa-check"></i>
                                {% trans "Save" %}</button>
                        </div>
                    </div>

                </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'js/QueryData.compressed.js' %}"></script>

    <script>

        // window.onload = function() {
        function getGeoLocation() {

            var startPos;
            var geoOptions = {
                timeout: 100 * 1000,
                enableHighAccuracy: true
            };

            var geoSuccess = function(position) {
                startPos = position;
                //document.getElementById('startLat').innerHTML = startPos.coords.latitude;
                //document.getElementById('startLon').innerHTML = startPos.coords.longitude;
                window.location.href = window.location.href +  
                        '?lat=' + startPos.coords.latitude +  '&lon=' + startPos.coords.longitude;
            };

            var geoError = function(error) {
                console.log('Error occurred. Error code: ' + error.code);
                // error.code can be:
                //   0: unknown error
                //   1: permission denied
                //   2: position unavailable (error response from location provider)
                //   3: timed out
            };

            var getData = new QueryData();
            if (!('lat' in getData)) {
                navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
            }

        }
     
    </script>


{% endblock %}